/*Selector {
    Property: value;
}*/

*{
    text-align: center;
}


body{
    background-image: url(/Users/charlesbryan/Desktop/HTML5_CSS_Repo/PhoneEatsFirst.jpg); 
    background-size: cover
}

header{
    text-align: right;
    color: white;
}

li {
    list-style: none;
    display: block;
}

.active{
    color: white;
    text-align: center;
}

.left{
    color: white;
    text-align: left;
}

.right{
    color: white;
    text-align: right;
    text-indent: 125px;
}

.center{
    color: white;
    text-align: center;
}


h3{
    text-align: right;
    color: white;
}

body h3{
    text-align: left;
    text-indent: 125px;
    color: white;
}


#div1{
    background: rgba(255, 255, 255, 0.2);
}