/*Selector {
    Property: value;
}*/

body{
    background-image: url(grey.jpeg);
    background-size: cover;
}

h2 {
    color: rgb(255, 208, 0);
    text-align: center;
    border: 5px dashed solid purple;
}

p {
    color: rgb(255, 0, 0);
    text-align: center;
    border: 5px dashed solid purple;
}